name: VN Stock Bot

on:
  schedule:
    - cron: '30 1 * * 1-5' # 08:30 VN
    - cron: '30 5 * * 1-5' # 12:30 VN
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 300
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Run Bot
      env: # QUAN TRỌNG: Truyền bí mật vào code
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python bot_send.py